<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My welcome page</title>
</head>
<body>
<h1>First impression of my page</h1>

<!--/*@thymesVar id="variable" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${variable}"></span>

<br>
<!--/*@thymesVar id="one" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${one}+${two}"></span>

<br>
<!-- task 1 -->
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${two}"></span>
<!--/*@thymesVar id="multiply" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${multiply}"></span>
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${two}"></span>
<!--/*@thymesVar id="equal" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${equal}"></span>
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${two}*${two}"></span>
<br>
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${two}"></span>
<!--/*@thymesVar id="multiply" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${multiply}"></span>
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${two}"></span>
<!--/*@thymesVar id="add" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${add}"></span>
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${two}"></span>
<!--/*@thymesVar id="equal" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${equal}"></span>
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${two}*${two}+${two}"></span>
<br>
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${two}"></span>
<!--/*@thymesVar id="subtraction" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${subtraction}"></span>
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${two}"></span>
<!--/*@thymesVar id="multiply" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${multiply}"></span>
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${two}"></span>
<!--/*@thymesVar id="equal" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${equal}"></span>
<!--/*@thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${two}-${two}*${two}"></span>
</body>
</html>